<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="copy">
    <div id="modal-personal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <img th:if="${not #lists.isEmpty(thisMedia.userByUserid.profilePicture)}" class="quadrate profile-user-img img-responsive img-circle" th:src="${thisMedia.userByUserid.profilePicture}" alt="User profile picture">
                    <img th:if="${#lists.isEmpty(thisMedia.userByUserid.profilePicture)}" class="profile-user-img img-responsive img-circle" th:src="@{/img/user-none-160x160.jpg}" alt="User profile picture">
                    <h3 th:text="${thisMedia.userByUserid.nickname}" class="profile-username text-center">昵称</h3>
                    <p th:text="${thisMedia.userByUserid.email}" class="text-muted text-center">邮箱</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b th:text="#{observation_records}">观测记录</b>
                            <a id="countRecord" class="pull-right">0</a>
                        </li>
                        <li class="list-group-item">
                            <b th:text="#{species}">记录物种</b>
                            <a id="countSpecies" class="pull-right">0</a>
                        </li>
                        <li class="list-group-item">
                            <b th:text="#{count_images}+':'">影像记录</b>
                            <small th:text="#{identified}">影像记录</small>
                            <a id="countIdrecord" class="pull-right">0</a>
                        </li>
                        <li class="list-group-item">
                            <b th:text="#{count_images}+':'">影像记录</b>
                            <small th:text="#{identifying}">影像记录</small>
                            <a id="countUnidrecord" class="pull-right">0</a>
                        </li>
                    </ul>
                    <a th:href="@{/personal/}+${thisMedia.userByUserid.id}" target="_blank" class="btn btn-leaf btn-block"><b th:text="#{my_page}">查看个人主页</b></a>

                </div>
            </div>
        </div>
    </div>
</th:block>
</html>