<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<section class="menu cid-menu" once="menu" id="menu1-e" th:fragment="copy">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                         <img th:src="@{/images/logo.png}" alt="ESPECIES" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" th:href="@{/}" th:text="#{webName}">ESPECIES</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                <a class="nav-link link text-white display-4" href="#">
                </a>
            </li><li class="nav-item"><a class="nav-link link text-white display-4" href="#">
            </a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" th:href="@{/}" th:text="#{menu_home}">
                        首页
                    </a>
                </li>
                <li class="nav-item dropdown open">
                    <a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" th:text="#{menu_items}">
                        项目
                    </a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item display-4" href="http://sp2000.org.cn/" target="_blank" th:text="#{items_col}">CoL</a>
                        <a class="text-white dropdown-item display-4" href="http://www.mapbio.org/" target="_blank" th:text="#{items_mapbio}">MapBio</a>
                        <a class="text-white dropdown-item display-4" href="http://nol.especies.cn/" target="_blank" th:text="#{items_nol}">NoL</a>
                        <a class="text-white dropdown-item display-4" href="#" th:text="#{items_eol}">EoL</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="#" th:text="#{menu_aboutUs}">
                        关于我们
                    </a>
                </li>
                <li class="nav-item dropdown open">
                    <a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" th:text="#{menu_language}">
                        语言
                    </a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item display-4" href="javascript:void(0);" onclick="ToChinese();">中文</a>
                        <a class="text-white dropdown-item display-4" href="javascript:void(0);" onclick="ToEnglish();">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
</html>