<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<section class="cid-footer" id="footer1-g" th:fragment="copy">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <th:block th:if="${#locale.getLanguage().equals('zh')}">
                        <h5 class="">
                            <span th:text="#{webName}">物种多样性数据平台</span>
                        </h5>
                    </th:block>
                    <h4 class="">
                        Esp<img th:src="@{/images/logo.png}" alt="E" style="height: 2.8rem;">cies
                    </h4>
                    <p class="display-7">中国科学院Ａ类战略性先导科技专项“地球大数据科学工程”资助，任务编号：XDA19050202</p>
                </div>
            </div>
            <div class="col-12 col-md-3 especies-fonts-style display-7">
                <h5 class="pb-3">
                    地址
                </h5>
                <p class="especies-text">
                    1234 Street Name
                    <br>City, AA 99999
                </p>
            </div>
            <div class="col-12 col-md-3 especies-fonts-style display-7">
                <h5 class="pb-3">
                    联系方式
                </h5>
                <p class="especies-text">
                    Email: xxx@yyy.com
                    <br>Phone: +1 (0) 000 0000 001
                    <br>Fax: +1 (0) 000 0000 002
                </p>
            </div>
            <div class="col-12 col-md-3 especies-fonts-style display-7">
                <h5 class="pb-3">
                    相关链接
                </h5>
                <p class="especies-text">
                <ul class="links-list">
                    <li><a href="http://casearth.cn/" target="_blank">地球大数据科学工程</a></li>
                    <li><a href="http://www.cncdiversitas.org" target="_blank">中国科学院生物多样性委员会</a></li>
                    <li><a href="http://www.catalogueoflife.org/" target="_blank">全球生物物种名录</a></li>
                    <li><a href="http://www.zoology.csdb.cn" target="_blank">中国动物主题数据库</a></li>
                    <li><a href="http://nsii.org.cn" target="_blank">中国国家标本资源平台（NSII）</a></li>
                    <li><a href="http://www.csdb.cn/" target="_blank">中国科学数据云</a></li>

                </ul>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row especies-white">
                <div class="col-sm-6 copyright">
                    <p class="especies-text especies-fonts-style display-7">
                        © Copyright 2018 Biodiversity Informatics Group Of IOZ, CAS All rights
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="socicon-mail socicon especies-iconfont especies-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>