<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="copy">
    <script th:src="@{/plugins/jQuery/jquery-3.1.1.min.js}" src="plugins/jQuery/jquery-3.1.1.min.js"></script>
    <script th:src="@{/plugins/tether/tether.min.js}" src="plugins/tether/tether.min.js"></script>
    <script th:src="@{/plugins/popper/popper.min.js}" src="plugins/popper/popper.min.js"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>-->
    <script th:src="@{/plugins/parallax/jarallax.min.js}" src="plugins/parallax/jarallax.min.js"></script>
    <script th:src="@{/plugins/dropdown/js/script.min.js}" src="plugins/dropdown/js/script.min.js"></script>
    <script th:src="@{/js/script.js}" src="plugins/theme/js/script.js"></script>

    <!-- Bootstrap-table 1.10.1 -->
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <!--<script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-en-US.js}"></script>-->
    <!--jquery.form -->
    <script th:src="@{/plugins/jqueryform/jquery.form.min.js }" src="plugins/layer/laye.js"></script>
    <!-- Layer 3.0.1 -->
    <script th:src="@{/plugins/layer/layer.js}" src="plugins/layer/laye.js"></script>

    <!-- page_script -->
    <script>
        //初始化组件
        $( document ).ready( function() {

        } );

        function ToChinese() {
            $.ajax({url:"language/zh_CN",async:false});
            location.reload();
        }

        function ToEnglish() {
            $.ajax({url:"language/en",async:false});
            location.reload();
        }

        function showMessageLayer(text) {
            layer.msg(text, {time: 1000},function(){
                location.reload();
            });
        }

        function go_top() {
            var speed=200;//滑动的速度
            $('body,html').animate({ scrollTop: 0 }, speed);
            return false;
        }
    </script>
</th:block>
</html>